html {
    font-size: 10px;
}
.wrapper {
    width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40rem 5rem;
    gap: 1rem;
    grid-template-areas: "image image image image image image image image image image image image"
                         "caption caption caption caption caption caption caption caption c1 c2 c3 c4"
}

.wrapper .image {
    display: none;
    grid-area: image;
    width: 80rem;
    height: 40rem;
}

.wrapper .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.wrapper .caption {
    grid-area: caption;
    display: none;
}

.wrapper label:nth-of-type(1) {
    grid-area: c1;
}
.wrapper label:nth-of-type(2) {
    grid-area: c2;
}
.wrapper label:nth-of-type(3) {
    grid-area: c3;
}
.wrapper label:nth-of-type(4) {
    grid-area: c4;
}

.wrapper #image1:checked ~ .image1,
.wrapper #image2:checked ~ .image2,
.wrapper #image3:checked ~ .image3,
.wrapper #image4:checked ~ .image4 {
    display: block;
    animation: appear 1s ease-in-out;
}

.wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    cursor: pointer;
}

.wrapper label .circle {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid red;
    transition: all 0.2s;
}

.wrapper label:hover .circle {
    background-color: orange;
}

.wrapper label:active .circle {
    background-color: orange;
    transform: scale(1.1);
}

.wrapper .caption {
    font-size: 1.6rem;
}

.wrapper #image1:checked ~ label:nth-of-type(1) .circle,
.wrapper #image2:checked ~ label:nth-of-type(2) .circle,
.wrapper #image3:checked ~ label:nth-of-type(3) .circle,
.wrapper #image4:checked ~ label:nth-of-type(4) .circle {
    background-color: red;
}

.wrapper input[type=radio] {
    display: none;
}

.wrapper #image1:checked ~ .caption:nth-of-type(1),
.wrapper #image2:checked ~ .caption:nth-of-type(2),
.wrapper #image3:checked ~ .caption:nth-of-type(3),
.wrapper #image4:checked ~ .caption:nth-of-type(4) {
    display: block;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    .wrapper {
        grid-template-rows: 60rem 5rem auto;
        width: 100%;
        gap: 1rem;
        grid-template-areas: "image image image image image image image image image image image image"
                             ". . . . c1 c2 c3 c4 . . . ."
                             "caption caption caption caption caption caption caption caption caption caption caption caption"
    }
    .wrapper .image {
        width: 100%;
    }
    
}