.wrapper {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px 50px auto;
    gap: 30px;
    grid-template-areas: "image image image image image image image image image image image image"
                         ". . . . . . . . c1 c2 c3 c4"
                         "caption caption caption caption caption caption caption caption caption caption caption caption";
}

.wrapper .image {
    /* display: none; */
    grid-area: image;
    width: 800px;
    height: 600px;
    animation: appear 1s ease-in-out;
}

.wrapper .caption {
    grid-area: caption;
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}